#
# .coveragerc to control coverage.py
#

[run]
branch = True
source = nc_time_axis
omit =
    nc_time_axis/_version.py
    nc_time_axis/tests/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
