#
# .coveragerc to control coverage.py
#

[run]
source = nc_time_axis
branch = True
omit =
    nc_time_axis/_version.py
    nc_time_axis/tests/*


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
